{% extends 'base.html.twig' %}

{% block title %}Edit ActivityType{% endblock %}

{% block body %}
    <h1>Edit ActivityType</h1>

    {{ include('activity_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('activity_type_index') }}">back to list</a>

    {{ include('activity_type/_delete_form.html.twig') }}
{% endblock %}